@media (max-width:991px) {


.details_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.img_container{
    width: 50%;
    margin: auto;
}


.social_links{
    gap: 40px;
}

.text-sm {
    font-size: 1.2rem;
}


.modal button{
    right: 5%;
}

.tab-content a img {
    max-width: 256px;
}


#point_4{
    top: 30px;
  }
  


}

@media (max-width:776px) {


    .tab-content a img {
        max-width: 385px;
    }

    .modal-content {
        width: 550px !important;
        max-height: 85vh;
    }

    .contact_form button{
        width: 35%;
    }



}


@media (max-width:480px) {

    
    
    .navbar-collapse{
        padding: 1.1rem 0 1.1rem 1.1rem;
    }

    .img_container{
        width: 70%;
        margin: auto;
    }

    .about_section_wrap,.resume_section_wrap,.work_section_wrap,.blog_section_wrap,.contact_section_wrap{
        padding: 50px 25px 0;
    }

    .project_nav_tabs{
        padding-top: 1.5rem;
    }

    .project_nav_tabs .nav-tabs li button {
        font-size: 1.1rem;
        padding: 0 0.5rem;
    }

    .modal-content {
        width: 381px !important;
        padding: 2rem 0;
    }

    .modal button {
        top: 10%;
        right: 11%;
        filter: invert(0);
        border: none;
    }

    .tab-content a img {
        max-width: 324px;
    }

    .contact_form button {
        width: 50%;
    }

}